body{
    font-family: 'Spinnaker', sans-serif;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'section section section section'
                         'footer footer footer footer';
    grid-template-rows: 10vh 90vh 30vh;
    grid-template-columns: 32.9vw 32.9vw 32.9vw;         
}

nav{
    grid-area: nav;
    z-index: 3;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 25px;
}

.quadrados{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 260px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.quadrado{
    width: 220px;
    height: 200px;
    margin: 10px;
}

.azul{
    background-color: #5787f6;
}

.verde{
    background-color: #bad378;
}

.vermelho{
    background-color: #ef7874;
}

.cadastro_aluno{    
    display: none;
}

.cadastro_aluno form{
    position: absolute;
    left: 485px;
    top: 200px;
    right: 0px;
    width: 30%;
}

.divform{
    display: flex;
    flex-direction: column;
    float: left;
    margin: 7px;
}

.bt_cadal{
    margin-left: 125px;
    margin-top: 10px;
    width: 140px;
    background-color: #46a65e;
    border: none;
    height: 30px;
    font-weight: bolder;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.bt_cadal:hover{
    background-color: #29402f;
}

label{
    font-size: 17px;
    font-weight: lighter;
    color: #666666;
}

input, select{
    border: 2px solid green;
    border-radius: 8px;
    height: 25px;
    padding-left: 5px;
}

input{
    width: 170px;
}

select{
    width: 177px;
    height: 31px;
}

#pontuacao_aluno, label[for=pontuacao_aluno]{
    display: none;
}
