footer{
    background-color: rgb(1, 2, 1);
    grid-area: footer;
    height: 370px;
}

.navbar_ref{
    margin-left: 30px;
    margin-right: 30px;
}

.contato-nav{
    position: relative;
    top: -12px;
    left: 20px;
    font-family: 'Spinnaker', sans-serif;
    font-size: 10px;
    letter-spacing: 0.2em;
    line-height: 3.25em;
    text-decoration: none;
    list-style-type: none;
}

.nav_intro{
    color: #ffffff;
    position: relative;
    top: -15px;
    left: 310px;
    font-family: 'Spinnaker', sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    margin: 0px;
}

.nav_miss{
    position: relative;
    left: -7px;
    padding: 10px;
    color: #ffffff;
    font-family: 'Spinnaker', sans-serif;
    font-size: 18px;
    text-decoration: none;
    align-items: flex-start;
    margin: 0px;
}

.missao{
    color: #3C7c21;
    font-weight: bold;
}

.ladoesquerdo{
    position: relative;
    left: 30px;
}

.parteners{
    color: #3C7c21;
    font-weight: bold;
}

.nav_contact{
    position: relative;
    top: 135px;
    right: 8px;
    padding: 10px;
    margin: 0px;
    color: #ffffff;
    font-family: 'Spinnaker', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.nav_parceiros{
    color: #ffffff;
    position: relative;
    left:600px;
    bottom:69px;
}

#menu_footer{
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 0px;
}

.main_navigation{
    padding: 0px;
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
}

.logo-responsive{
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    padding-left: 15px;
    padding-top: 9px;
}

.container_redes{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 50px;
    position: relative;
    bottom:-50px;
    right: 100px; 
}

.midias{
    width: 26px;
    height: 26px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    left:-280px;
    bottom:-150px;
}

.gmail{
    width: 36px;
    height: 36px;
    position: relative;
    top: 145px;
    left: -270px; 
}

.parceria{
    letter-spacing: 0.1em;
    line-height: 3.25em;
}

.parceiros{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -230px;
    bottom: 35px;
}

.estacao{
    width: 150px;
    height: 70px;
    position: relative;
    left:610px;
    bottom:6px;
    opacity: 0.75;
}

.mastertech{
    width: 100px;
    height: 11px;
    position: relative;
    left: 480px;
    bottom:-79px;
    opacity: 0.75;
}

.artemisia{
    width: 100px;
    height: 90px;
    position: relative;
    left: 380px;
    bottom: -100px;
    opacity: 0.75;
}

.line_base{ 
    color: #3c7c21;
    background-color: #3c7c21;;
    height: 20px;
    position: relative;
    bottom: -135px;
  }