body{
    display: grid;
    grid-template-areas: 'carrossel carrossel carrossel carrossel'
        'dados dados dados dados'
        'steps steps steps steps'
        'footer footer footer footer';
    grid-template-rows: 100vh 85vh 85vh 30vh;
    grid-template-columns: 25vw 25vw 25vw 23.7vw;
    margin: 0;
    font-family: 'Spinnaker', sans-serif;
}

/* ESTRUTURAR O CARROSSEL  */
#carrossel{
    grid-area: carrossel;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: carrossel;
}

#slide_caixa{
    height: 100%;
    width: 100%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    background-size: cover;
}

#carrossel div{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.geometrica{
    border-top: 100px solid transparent;
    border-right-width: 1500px; 
    border-right-style: solid; 
    border-right-color: #fdfdfd;
}

#carrossel img{
    position: absolute;
    height: 300px;
    width: 300px;
}

.sombra{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    top: 0;
}


/* ----------------CRIAR CAIXA DE IMAGEM COM DESCRCAO EMBAIXO, SEDUNDA SECTION----------------------- */
.dados {
    background-color: #fdfdfd;
    grid-area: dados;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.base_f{
    font-weight: bolder;
    font-size:35px;
    padding-top: 5px;
}
.imgFazemos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.imgFazemos div{
    padding: 50px;
}

/* ESTILIZAR TITULO DA PRIMEIRA SECTION */
.titulo_fonte{
    letter-spacing: 0.1em;
    font-size:30px;
    font-weight: bold;
}

.base_fonte{
    color: #3C7c21;
    font-weight: bolder;
    font-size:40px;
}



/* ----------------- CRIAR LINKS NA TERCEIRA SECTION ------------------- */
.steps{
    /* background-color: #F2DA5E; */
    grid-area: steps;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #319ac7;
}

.steps h3{
    padding-bottom: 30px;
}

.steps div{
    padding: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.steps div a{
    background-image: url("/static/img/index/fundo_steps.png");
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    height: 150px;
    display: flex;
    align-items: flex-end; 
}
.steps div span{
    padding:20px;
}

.steps div a{
    text-decoration: none;
    font-size: 25px;
    color: #e97926;
}

.nav_help{
    word-spacing: 5x;
}

.steps div img{
    height: 95px;
    width: 95px;
}

/* ESTILIZAR TITULO DA SEGUNDA SECTION */
.titulo_section2{
    font-size:30px;
    font-weight: bold;
    margin-left: 0px;
}