body{
    font-family: 'Spinnaker', sans-serif;
    display: grid;
    grid-template-areas: 'nav nav nav nav' 
                         'section section section section'
                         'footer footer footer footer';
    grid-template-rows: 10vh 90vh 30vh;
    grid-template-columns: 24.7vw 24.7vw 24.7vw 24.7vw;
    overflow-x: hidden;
}

nav{
    grid-area: nav;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}

/* .img_header{
    background-image: url('/static/img/escola/bgescola.jpg');
    background-size: cover;
    width: 100%;
    height: 195px;
    position: absolute;
    top: 460px;
} */