<footer id="sobre">
    <div class=container>
        <div class=logoinf></div>
        <div class=navbar_ref>
            <nav class=main_navigation>
                <img class=logo-responsive src="/static/img/footer/logo_inferior3.png" alt="">
                <div id=menu_footer>
                    <ul class=contato-nav>
                        <li>
                            <a href=navfooter class=nav_miss> Nossa <span class=missao>Missão</span> </a>
                            <p class=text_int> Impactar a sociedade, através da educação financeira e ambiental
                                fornecendo ferramentas para alcançar a liderança, o protagonismo e um planeta
                                sustentável.</p>
                        </li>
                        <li>
                            <a href="/contato" class="nav_contact"> Junte-se </a>
                        </li>
                    </ul>
                </div>
                <div class=ladodireito>
                    <div class=container_redes>
                        <a href="http://fb.com" target="_blank"><img class=midias src="/static/img/foote/face_icone.png"
                                alt=""></a>
                        <a href="http://www.instagram.com" target="_blank"><img class=midias
                                src="/static/img/foote/insta_icone.png" alt=""></a>
                        <a href="http://mail.google.com" target="_blank"><img class=gmail
                                src="/static/img/foote/mail_icone.png" alt=""></a>
                    </div>
                </div>
                <div class=ladoesquerdo>
                    <ul><a href='navfooter' class="nav_intro"> Nossos <span class=parteners>Parceiros</span></a>
                    </ul>
                    <div class=parceiros>
                        <a href="https://www.artemisia.org.br/aceleradoraestacaohack/" target="_blank"><img
                                class=estacao src="/static/img/footer/facebook.png" alt=""></a>
                        <a href="https://mastertech.com.br/" target="_blank"><img class=mastertech
                                src="/static/img/footer/logo-mastertech.png" alt=""></a>
                        <a href="https://www.artemisia.org.br" target="_blank"><img class=artemisia
                                src="/static/img/footer/artemisia.png" alt=""></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr class=line_base>
</footer>