<footer id="sobre">
    <div class=container>
        <div class=logoinf></div>
        <div class=navbar_ref>
            <nav class=main_navigation>
                <img class=logo-responsive src="/static/img/footer/passos.png" alt="">
                <div id=menu_footer>
                    <ul class=contato-nav>
                        <li>
                            <p class="nav_miss"> Nossa <span class=missao>Missão</span></p>
                        </li>
                        <li>
                            <a href="/contato" class="nav_contact"> Fale Conosco </a>
                        </li>
                    </ul>
                </div>
                <div class=ladodireito>
                    <div class=container_redes>
                        <img class=midias src="/static/img/footer/face_icone.png" alt="">
                        <img class=midias src="/static/img/footer/insta_icone.png" alt="">
                        <img class=gmail src="/static/img/footer/mail_icone.png" alt="">
                    </div>
                </div>
                <div class=ladoesquerdo>
                    <ul class="parceria">
                        <p class="nav_intro"> Nossos <span class=parteners>Parceiros</span></p>
                    </ul>
                    <div class=parceiros>
                        <img class=estacao src="/static/img/footer/facebook.png" alt="">
                        <img class=mastertech src="/static/img/footer/logo-mastertech.png" alt="">
                        <img class=artemisia src="/static/img/footer/artemisia.png" alt="">
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr class=line_base>
</footer>