{% if user.is_authenticated %}
<nav id="menu_logout">
    <a class="a_logo" href="/"><img class="logo" src="static/img/nav/projeto-formiguinha.png" alt=""></a>
    <div class="menu">
        <a href="/loja">LOJA</a>
        <a href="">EXPLORE</a>
        <a href="/portaldaescola">PORTAL DA ESCOLA</a>
        <a href="/logout">LOGOUT</a>
    </div>
</nav>

{% else %}
<nav id="menu_login">
    <a class="a_logo" href="/"><img class="logo" src="static/img/nav/projeto-formiguinha.png" alt=""></a>
    <div class="menu">
        <a href="/loja">LOJA</a>
        <a href="">EXPLORE</a>
        <a href="/cadastro">CADASTRO</a>
        <a href="/login">LOGIN</a>
    </div>
</nav>
{% endif %}