{% if user.is_authenticated %}

<nav id="menu_logout" class="menu">
    <div class="icone_menu">
        <a href="/"><img class="logo_superior" src="/static/img/layout/formiga_logo.png" alt=""></a>  
    </div>
    <div class="links_menu">
        <a class="a_menu" href="/loja">Loja</a>
        <a class="a_menu" href="">Explore</a>
        <a class="a_menu" href="#sobre">Sobre Nós</a>
        <a class="a_menu"href="/contato">Contato</a>
        <a class="a_menu" href="/cadastro">Escola</a>
        <a class="a_menu" href="/logout">Sair</a>
    </div>
        
   
</nav>

{% else %}
<nav id="menu_login" class="menu">
    <div class="icone_menu">
        <a href=""><img class="logo_superior" src="/static/img/layout/formiga_logo.png" alt=""></a>  
    </div>
    <div class="links_menu">
            <a class="a_menu" href="/loja">Loja</a>
            <a class="a_menu" href="">Explore</a>
            <a class="a_menu" href="#sobre">Sobre Nós</a>
            <a class="a_menu"href="/contato">Contato</a>
            <a class="a_menu" href="/cadastro">Escola</a>
            <a class="a_menu" href="/login">Entrar</a>
    </div>
</nav>
    
{% endif %}