{% extends 'shared/layout_escola.html' %}

{% block titulo %}
<title>Edição de Alunos</title>
{% endblock %}

{% block conteudo %}
<h1>aqui vai estar escrito edição de aluno</h1>

<div class="edicao_aluno">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="divedit">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <input class="bt_cadal" type="submit" value="Salvar">
    </form>
</div>

{% endblock %}