{% extends 'shared/layout_escola.html' %}

{% block titulo %}
<title>Portal da Escola</title>
{% endblock %}

{% block conteudo %}
<h1>aqui vai estar escrito painel de controle</h1>

<div class="quadrados">
    <a href="/registrodealuno">
        <div class="quadrado azul"><img class="add" src="/static/img/escola/add.png" alt=""></div>
    </a>
    <a href="">
        <div class="quadrado verde"><img class="edit" src="/static/img/escola/edit.png" alt=""></div>
    </a>
    <a href="">
        <div class="quadrado vermelho"><img class="star" src="/static/img/escola/star.png" alt=""></div>
    </a>
</div>

<div>
    {% for message in messages %}
    <div class="alert alert-success">
        <strong>Sucesso!</strong> {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock %}