{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/escola.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script defer src="{% static 'js/escola.js' %}"></script>
    <title>Portal da Escola</title>
</head>

<body>
    {% include 'shared/nav.html' %}

    <section>
        <div class="cadastro_aluno">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="divform">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <input class="bt_cadal" type="submit" value="Cadastrar">
            </form>
        </div>

        <div class="background">
            <h1>kdfkdfksd</h1>
        </div>

        <div class="quadrados">
            <div class="quadrado azul"></div>
            <div class="quadrado verde"></div>
            <div class="quadrado vermelho"></div>
        </div>
        
    </section>

    {% include 'shared/footer.html' %}
</body>
</html>