{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script defer src="{% static 'js/login.js' %}"></script>
    <script defer src="{% static 'js/nav.js' %}"></script>
    <title>Página de Login</title>
</head>

<body>
    {% include 'shared/nav.html' %}

    <section>
        <div class="section_login">
            <div id="icones" class="icones">
                <div class="ar_icones">
                    <div class="opt_aluno" onclick="javascript: logarAluno();">
                        <img class="icon_student" src="/static/img/login/student.png" alt="">
                        <h3>Portal do Aluno</h3>
                    </div>
                        
                    <div class="borda_login"></div>
                       
                    <div class="opt_escola" onclick="javascript: logarEscola();">
                        <img class="icon_school" src="/static/img/login/school.png" alt="">
                        <h3>Portal da Escola</h3>
                    </div>
                </div>

                <div class="ar_erro">
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        <strong>Erro!</strong> {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="login_aluno">
                <img onclick="javascript: voltarOpcoes();" id="back" class="back" src="static/img/login/testeback.jpg" alt="">
                <form action="" method="POST">
                    {% csrf_token %}
                    <img class="pop_upal" src="static/img/login/student.png" alt="">
                    <div class="form_aluno">
                        <input type="text" name="codigoaluno" placeholder="Código de Acesso">
                        <input type="password" name="datanascimento" placeholder="Data de Nascimento">
                    </div>
                    <input type="submit" value="LOGIN">
                </form>
            </div>

            <div id="login_escola">
                <img onclick="javascript: voltarOpcoes();" id="back" class="back" src="static/img/login/testeback.jpg" alt="">
                <form action="login" method="POST">
                    {% csrf_token %}
                    <img class="pop_upsc" src="static/img/login/school.png" alt="">
                    <div class="form_escola">
                        <input type="text" id="username" name="username" placeholder="Código de Acesso">
                        <input type="password" id="password" name="password" placeholder="Senha de Acesso">
                    </div>
                    <input type="submit" value="LOGIN">
                </form>
            </div>

        </div>
    </section>

    {% include 'shared/footer.html' %}
</body>

</html>