{% extends 'shared/layout_escola.html' %}

{% block titulo %}
<title>Alunos</title>
{% endblock %}

{% block conteudo %}
<h1>aqui vai estar escrito alunos</h1>

<div>
    {% for aluno in alunos %}
        <div class="aluno">
            <p>{{aluno.nome_aluno}}</p>
            <p>{{aluno.sobrenome_aluno}}</p>
            <a href="/edicaoaluno/{{aluno.id}}"><input type="button" value="editar"></a>
            <a href="/removeraluno/{{aluno.id}}"><input type="button" value="excluir"></a>
        </div>
        {% endfor %}
</div>

{% endblock %}