{% extends 'shared/layout_escola.html' %}

{% block titulo %}
<title>Registro de Alunos</title>
{% endblock %}

{% block conteudo %}
<h1>aqui vai estar escrito registro de aluno</h1>

<div class="cadastro_aluno">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="divform">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <input class="bt_cadal" type="submit" value="Cadastrar">
    </form>
</div>
{% endblock %}