{% extends 'shared/layout_escola.html' %}

{% block titulo %}
<title>Registro de Alunos</title>
{% endblock %}

{% block conteudo %}
<img class="painelctrl" src="/static/img/escola/registrodealuno.png" alt="">

<div class="cadastro_aluno">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="divaluno">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <input class="bt_cadal" type="submit" value="Cadastrar">
    </form>
</div>

{% endblock %}